body {
  justify-items: center;
  background-color: honeydew;
  font-family: monospace;
  font-size: large;
}

.judul-utama {
  justify-self: center;
  font-size: xxx-large;
}

main {
  background-color: brown;
  padding: 25px;
  border-radius: 15px;
}

.padding-medium {
  padding: 20px;
}

input[type="number"],
textarea {
  background-color: aqua;
  width: 100%;
  height: 50px;
  border-radius: 8px;
  padding: 10px 20px;
  border: 1px black solid;
  margin: 10px 0px;
  box-sizing: border-box;
}
